﻿@model ClientLoyaltyApp.Models.Client

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Genger)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genger)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MartialStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MartialStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobPosition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobPosition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreditSum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreditSum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreditMonth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreditMonth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Education)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Education)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LivingRegion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LivingRegion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonthlyIncome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonthlyIncome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreditCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreditCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OverdueCreditCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OverdueCreditCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpenAccountFlag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpenAccountFlag)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> 
            <br/>
            <br/>
            <br/>
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
