﻿@model  List<ClientLoyaltyApp.Models.Client>

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Index</h2>
@{
    <h4>My registed Clients</h4>
    <table class="table">
        <tbody>
        <tr>
            <td>Id</td>
            <td>Genger</td>
            <td>Age</td>
            <td>MartialStatus</td>
            <td>JobPosition</td>
            <td>CreditSum</td>
            <td>CreditMonth</td>
            <td>Education</td>
            <td>LivingRegion</td>
            <td>MonthlyIncome</td>
            <td>CreditCount</td>
            <td>OverdueCreditCount</td>
            <td>OpenAccountFlag</td>
        </tr>
        @{
            int i = 1;
        }

        @foreach (var cl in Model)
        {
            <tr>
                <td>@Html.ActionLink(@i++.ToString(), "EditClient", new { id = cl.Id })</td>
                <td>@cl.Genger</td>
                <td>@cl.Age</td>
                <td>@cl.MartialStatus</td>
                <td>@cl.JobPosition</td>
                <td>@cl.CreditSum</td>
                <td>@cl.CreditMonth</td>
                <td>@cl.Education</td>
                <td>@cl.LivingRegion</td>
                <td>@cl.MonthlyIncome</td>
                <td>@cl.CreditCount</td>
                <td>@cl.OverdueCreditCount</td>
                <td>@cl.OpenAccountFlag</td>
                <td>@Html.ActionLink("Delete", "Delete", new { id = cl.Id })</td>
            </tr>

        }
        </tbody>
    </table>
}

